<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>

        <style>
        
            textarea {
                margin: 10px;
                width: 540px;
                height: 120px;
            }
            
            h1 { 
                text-align: center;
            }
            
            .error {
                color: orange;
            }
            .button {
                margin: 10px;
            }
            </style>
    </head>
<body> 
        <a href="/"> Blog's Front Page </a>
        <a href="/newpost.html"> Blog Entry Page </a>

        <h1>{{page_title}}</h1>
        {% block content %}
        {% endblock %}

</body>
</html>